@import '@carbon/themes/scss/themes';

$carbon--theme: $carbon--theme--g100;
@include carbon--theme();

// import all (slow)
//@import 'carbon-components/scss/globals/scss/styles.scss';

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

// global defaults
@import 'carbon-components/scss/globals/scss/_css--reset';
@import 'carbon-components/scss/globals/scss/_css--font-face';
@import 'carbon-components/scss/globals/scss/_css--helpers';
@import 'carbon-components/scss/globals/scss/_css--body';

// grid
@import 'carbon-components/scss/globals/grid/_grid';

// components
@import 'carbon-components/scss/components/button/_button';
@import 'carbon-components/scss/components/modal/_modal';
@import 'carbon-components/scss/components/ui-shell/_ui-shell';
@import 'carbon-components/scss/components/link/_link';
